In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

Import ANPP file

In [4]:
anpp= pd.read_csv('GMDR_ANPP_13Dec21.csv')

In [5]:
anpp.head()

,Collected by,Sorted by,Weighed by,Date,Year,Site,Block,Paddock,Drought,Grazing,...,C4P(kg/ha),Forb(kg/ha),StandingDead(kg/ha),AnnualGrass(kg/ha),Vulpia(kg/ha),Bromus(kg/ha),GUSA(g/m2).1,Litter(kg/ha),cover of arfr,REWEIGH
0,"Jill, Carley, Joseph, Spencer, Julia, Claire",Jill,Jill,"July, 2019",2019,TB,1,2,75,HHMMM,...,0.0,400.0,290.0,#REF!,6.0,1052.0,0.0,-200.0,NaN,Bromus 5.26
1,"Jill, Carley, Joseph, Spencer, Julia, Claire",Jill,Jill,"July, 2019",2019,TB,1,2,75,HHMMM,...,26.0,200.0,1060.0,#REF!,36.0,1520.0,0.0,-200.0,NaN,"Vulpia 0.17, Bromus 7.57, Litter 5.34"
2,"Jill, Carley, Joseph, Spencer, Julia, Claire",Jill,Jill,"July, 2019",2019,TB,1,2,99,HHMMM,...,0.0,580.0,340.0,#REF!,22.0,40.0,0.0,-200.0,NaN,Forb 2.93
3,"Jill, Carley, Joseph, Spencer, Julia, Claire",Jill,Jill,"July, 2019",2019,TB,1,2,99,HHMMM,...,0.0,380.0,320.0,#REF!,8.0,20.0,0.0,-200.0,NaN,NaN
4,"Jill, Carley, Joseph, Spencer, Julia, Claire",Jill,Jill,"July, 2019",2019,TB,1,2,1,HHMMM,...,360.0,110.0,140.0,#REF!,62.0,16.0,0.0,-200.0,NaN,Vulpia 0.30

Create a list of the columns from original file to work with

In [6]:
cols=['Date', 'Year', 'Drought', 'Grazing', 'PlotID', 'C3P(g)', 'C4P(g)', 
      'Forb(g)','Standing Dead(g)', 'Vulpia(g)', 'Bromus(g)']

In [14]:
anpp=anpp[cols]

Create a list of columns (biomass categories) to be added together

In [10]:
plants=['C3P(g)', 'C4P(g)', 'Forb(g)','Standing Dead(g)', 'Vulpia(g)', 'Bromus(g)']

In [9]:
plants

['C3P(g)', 'C4P(g)', 'Forb(g)', 'Standing Dead(g)', 'Vulpia(g)', 'Bromus(g)']

In [15]:
anpp.head()

,Date,Year,Drought,Grazing,PlotID,C3P(g),C4P(g),Forb(g),Standing Dead(g),Vulpia(g),Bromus(g)
0,"July, 2019",2019,75,HHMMM,1,0.50,0.00,2.00,1.45,0.03,5.26
1,"July, 2019",2019,75,HHMMM,1,2.45,0.13,1.00,5.30,0.18,7.6
2,"July, 2019",2019,99,HHMMM,2,2.25,0.00,2.90,1.70,0.11,0.2
3,"July, 2019",2019,99,HHMMM,2,6.00,0.00,1.90,1.60,0.04,0.1
4,"July, 2019",2019,1,HHMMM,3,0.85,1.80,0.55,0.70,0.31,0.08

In [16]:
anpp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              324 non-null    object
 1   Year              432 non-null    int64
 2   Drought           432 non-null    int64
 3   Grazing           432 non-null    object
 4   PlotID            432 non-null    object
 5   C3P(g)            430 non-null    float64
 6   C4P(g)            430 non-null    float64
 7   Forb(g)           430 non-null    float64
 8   Standing Dead(g)  430 non-null    float64
 9   Vulpia(g)         430 non-null    object
 10  Bromus(g)         430 non-null    object
dtypes: float64(4), int64(2), object(5)
memory usage: 37.2+ KB

In [26]:
anpp['Bromus(g)'].sort_values(ascending=False)

305      0
306      0
431      0
146    NaN
158    NaN
Name: Bromus(g), dtype: object

In [32]:
anpp['Vulpia(g)'].sort_values(ascending=False)

247    1.13
182    0.90
154    0.70
226    0.43
155    0.40
       ...
34     0.00
33     0.00
431    0.00
146     NaN
158     NaN
Name: Vulpia(g), Length: 432, dtype: float64

Clean up Vulpia and Bromus and convert to floats

In [33]:
anpp['Vulpia(g)'].replace('?','0', inplace=True)

In [34]:
anpp['Vulpia(g)'].replace('','0', inplace=True)

In [35]:
anpp['Vulpia(g)']=anpp['Vulpia(g)'].astype('float64')

In [36]:
anpp['Bromus(g)'].replace('?','0', inplace=True)

In [37]:
anpp['Bromus(g)'].replace('','0', inplace=True)

In [38]:
anpp['Bromus(g)']=anpp['Vulpia(g)'].astype('float64')

Sum biomass categories to create new column

In [39]:
anpp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              324 non-null    object
 1   Year              432 non-null    int64
 2   Drought           432 non-null    int64
 3   Grazing           432 non-null    object
 4   PlotID            432 non-null    object
 5   C3P(g)            430 non-null    float64
 6   C4P(g)            430 non-null    float64
 7   Forb(g)           430 non-null    float64
 8   Standing Dead(g)  430 non-null    float64
 9   Vulpia(g)         430 non-null    float64
 10  Bromus(g)         430 non-null    float64
dtypes: float64(6), int64(2), object(3)
memory usage: 37.2+ KB

In [42]:
anpp['total']= anpp[plants].sum(axis=1) #   df['Sum'] = df[col_list].sum(axis=1)

In [43]:
anpp.head()

,Date,Year,Drought,Grazing,PlotID,C3P(g),C4P(g),Forb(g),Standing Dead(g),Vulpia(g),Bromus(g),total
0,"July, 2019",2019,75,HHMMM,1,0.50,0.00,2.00,1.45,0.03,0.03,4.01
1,"July, 2019",2019,75,HHMMM,1,2.45,0.13,1.00,5.30,0.18,0.18,9.24
2,"July, 2019",2019,99,HHMMM,2,2.25,0.00,2.90,1.70,0.11,0.11,7.07
3,"July, 2019",2019,99,HHMMM,2,6.00,0.00,1.90,1.60,0.04,0.04,9.58
4,"July, 2019",2019,1,HHMMM,3,0.85,1.80,0.55,0.70,0.31,0.31,4.52

In [44]:
anpp['g/m2']=anpp.total/0.05

In [45]:
anpp.head()

,Date,Year,Drought,Grazing,PlotID,C3P(g),C4P(g),Forb(g),Standing Dead(g),Vulpia(g),Bromus(g),total,g/m2
0,"July, 2019",2019,75,HHMMM,1,0.50,0.00,2.00,1.45,0.03,0.03,4.01,80.2
1,"July, 2019",2019,75,HHMMM,1,2.45,0.13,1.00,5.30,0.18,0.18,9.24,184.8
2,"July, 2019",2019,99,HHMMM,2,2.25,0.00,2.90,1.70,0.11,0.11,7.07,141.4
3,"July, 2019",2019,99,HHMMM,2,6.00,0.00,1.90,1.60,0.04,0.04,9.58,191.6
4,"July, 2019",2019,1,HHMMM,3,0.85,1.80,0.55,0.70,0.31,0.31,4.52,90.4